
@charset "utf-8";


.colors {background:#8176d4}
.colors {background:#4d5dbe}
.colors {background:#2985d2}
.colors {background:#2eb7c4}
.colors {background:#4cd3c5}
.colors {background:#60bd85}
.colors {background:#609057}
.colors {background:#a7b01e}
.colors {background:#b5d130}
.colors {background:#f4eb00}
.colors {background:#f1d200}
.colors {background:#edaa4b}
.colors {background:#ec6751}
.colors {background:#e55d81}

.app-use-status {display:flex;justify-content: space-between;padding:1.25rem;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;margin:3.125rem 0;}
.app-use-status .status {display:flex;align-items:center;}
.app-use-status .status div {margin:0 20px;}
.app-use-status .status.smartphone div {margin-left:0;}
.app-use-status .status.smartphone div strong span.badge {margin-right:20px;}
.app-use-status .status.login div {margin-right:0;}

h3.farm-info {margin-bottom:50px;}


/* light */
body {background:#f9f9f9;}
.nav {background:url('../../common/images/bg9.png') no-repeat center top /cover, linear-gradient(#003b2e, #25b14a);}
.nav .branding {background:#003b2e;}
.nav .gnb li a {color:#fff;}
.nav .gnb li a:hover,.nav .gnb li.on a {background: #003915;}
.container .container-header {background:url('../../common/images/bg3.png') no-repeat left top /cover #ff9d49;}
.container .container-body {background:url('../../common/images/bg6.png') no-repeat left -80px /100%;}
.farm-group .farm-group-body .card {border:2px solid #ccc;}
.farm-group .farm-group-body .card:hover {border:2px solid #ff9d49;}
.farm-group .farm-group-body .card:hover .card-body {background: #ffeccf;}
.farm-group .farm-group-body .card-body {background: #fff6e9;}
.user-list .user-group {border-left-color:#ffe9d6;}
.user-list .user-group .user-name {background:#ffe9d6;}
/*.wide {display:block !important;}*/
.mobile {display:none;}


/* mobile */
@media (max-width:768px){

    body {background:#fff;}
    .mobile {display:block;}
    .wide {display:none !important;}

    .hiddenTop {position:fixed;top:-8rem;left:0;right:0;transition:all .3s;z-index:100;}
    .hiddenTop .top {height:6rem;}

    .control-label:after {display:none;}

    .top {position:relative;height:9rem;background:linear-gradient(#1f5200, #266400);z-index:1;}
    .top .branding {position:relative;}
    .top .branding a.nav-more {position:absolute;left:1rem;top:1rem;color:#fff;width:1.875rem;height:1.875rem;}
    .top .branding a.go-index {display:block;width:100%;text-align:center;padding:1rem;font-size:1.8rem;color:#fff;font-weight:500;}
    .top .branding a.setting {position:absolute;right:1rem;top:1rem;color:#fff;width:1.875rem;height:1.875rem;text-align:right;}


    .app-icon {position:absolute;left:0;right:0;top:4rem;display:flex;justify-content:center;z-index:3;}
    .app-icon li {width:3.7rem;height:3.7rem;}
    .app-icon li a {display:flex;align-items:center;border-radius:20rem;background:#044d23;border:.4rem solid #044d23;box-shadow:0 .3rem .3rem rgba(0,0,0,0.5);}
    .app-icon li a img {display:inline-block;width:100%;height:100%;}
    .app-icon.farmingon li a    {background:#9fc856;border-color:#9fc856;box-shadow:none;}
    .app-icon.farmingon li.on a {background:#044d23;border-color:#044d23;box-shadow:0 .3rem .3rem rgba(0,0,0,0.5);}
    .app-icon.farmingon2 li a   {background:#ffe25b;border-color:#ffe25b;box-shadow:none;}
    .app-icon.farmingon2 li.on a {background:#044d23;border-color:#044d23;box-shadow:0 .3rem .3rem rgba(0,0,0,0.5);}
    .app-icon.rmfarm li a       {background:#93c6ff;border-color:#93c6ff;box-shadow:none;}
    .app-icon.rmfarm li.on a    {background:#044d23;border-color:#044d23;box-shadow:0 .3rem .3rem rgba(0,0,0,0.5);}

    /* app-header color */
    .app.farmingon .app-header  {background:#60970c;}
    .app.farmingon2 .app-header {background:#ffe25b;}
    .app.rmfarm .app-header     {background:#93c6ff;}

    .app.farmingon2 .app-header a,.app.farmingon2 .app-header label {color:#0a5e2e;}
    .app.rmfarm .app-header a,.app.rmfarm .app-header label {color:#0a5e2e;}

    /*.bx-wrapper {background:transparent;border:none;box-shadow:none;}*/
    .device-tab {width:100%;}
    .device-tab ul {display:flex;overflow-x:auto;}
    .device-tab ul::-webkit-scrollbar {width:0;height:0;}
    .device-tab ul li {width:50%;}
    .device-tab ul li a {display:block;border-radius:10rem;background:rgba(3,65,29,.2);padding:.8rem 2rem;color:#fff;text-align:center;}
    .device-tab ul li.on a {background:rgba(3,65,29,1);}
    .indicator {text-align:center;}
    .indicator span {display:inline-block;width:.5rem;height:.5rem;margin:0 .5rem;border-radius:1rem;background:rgba(0,0,0,0.3);}
    .indicator span.on {background:rgba(0,0,0,1);}
    /*.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom:-1.2rem;}*/

    .threshold .device-tab {padding:.5rem 0;}
    .threshold-tabs-content-wrap ul {display:none;}
    .threshold-tabs-content-wrap ul.on {display:block;}

    .container.side-page {padding-top:4.5rem;}
    .container.side-page .device-tab {position:static;}
    .container.side-page .card {border:none;padding:1rem;}

    .nav {display:none;}
    .container.on {margin-left:0;}
    .container .container-header {display:none;}
    .container-body {position:relative;padding:0;z-index:2;}
    .container-body h2 {margin-bottom:0;}
    .container-body h2 label {display:none;}
    .container-body h2 span.badge {display:flex;justify-content:center;width:100%;height:15rem;padding:3rem 0;font-size:2rem;font-weight:400;color:#0a5e2e;border-radius:1.5rem 1.5rem 0 0;}
    .container-body h2 .badge {margin:-3rem 0 0;}
    .farmingon .container-body h2 .badge    {background:url('../images/bg_tomato.svg') no-repeat 5rem -3rem /100% #9fc856;}
    .farmingon2 .container-body h2 .badge   {background:url('../images/bg_strawberry.svg') no-repeat 8rem -1.4rem /80% #ffe25b;}
    .rmfarm .container-body h2 .badge       {background:url('../images/bg_paprika.svg') no-repeat 6rem top /80% #93c6ff;}

    .container .device-tab {position:absolute;left:0;right:0;top:4rem;width:100%;overflow-x:auto;}
    .container.rmfarm .container-body h2 span.badge {height:17rem;}
    .container.rmfarm .farm-selector {position:absolute;left:50%;top:3rem;transform:translateX(-50%);width:10rem;}
    .container.rmfarm .farm-selector .form-control {border:2px solid #1c84c6;border-radius:.5rem;text-align:center;}
    .container.rmfarm  .device-tab {position:absolute;left:0;right:0;top:6rem;width:100%;overflow-x:auto;}

    .container-body .zone {position:fixed;left:0;right:0;bottom:0;padding:.5rem 1rem;background:#0a5e2e;display:flex;justify-content: space-between;}
    .container-body .zone li {width:25%;}
    .container-body .zone li a {display:block;color:#fff;text-align:center;padding:.5rem;border-radius:10rem;}
    .container-body .zone li.on a {background:#1C344C;}
    section h3 {display:none;}
    .user-info {display:none;}
    .app-use-status {display:none;}
    .user-list .user-group {padding-left:0;border:none;}
    .user-list .user-group .user-name {display:none;}
    .farm-group {position:relative;top:-3.5rem;display:none;background:#fff;box-shadow:0 -5px 5px rgba(0,0,0,0.1);border-radius:1rem;padding-top:1.5rem;border:none;}
    .farm-group.on {display:block;}
    .farm-group .function-button {position:relative;display:flex;align-items:center;justify-content:center;margin:.5rem 0;}
    .farm-group .function-button:before {position:absolute;left:50%;top:1.5rem;transform:translateX(-50%);content:'';width:calc(((3rem + .4rem) * 4) - .4rem);height:4px;background:#ccc;z-index:1;}
    .farm-group .function-button a {position:relative;display:flex;align-items:center;justify-content:center;
        width:3rem;height:3rem;margin:0 .2rem;border-radius:10rem;background:#888;border:4px solid #c4c4c4;z-index:2;}
    .farm-group .function-button a i {font-size:1.4rem;color:#fff;}
    .farm-group .function-button a.dif {font-size:1.2rem;font-weight:700;color:#fff;}
    .farm-group .function-button a img {width:70%;}
    .farm-group .farm-group-header {display:none;}
    .farm-group .farm-group-body {display:flex;flex-wrap:nowrap;width:100%;overflow-x:auto;}
    .farm-group .farm-group-body .card {flex: 0 0 auto;width:100%;margin:1rem 0;border:none;padding-top:2rem;box-shadow:none;}
    .farm-group .farm-group-body .card-header {display:none;}

    .farm-group .farm-group-body .card-body {padding:0 .5rem;}
    .farm-group .farm-group-body .card-body ul {display:flex;flex-wrap:wrap;}
    .farm-group .farm-group-body .card-body ul li
        {position:relative;display:flex;width:calc(50% - 0.8rem);height:10rem;margin:0.4rem;border:2px solid #fff;border-radius:1rem;
        box-shadow:0 0 3px rgba(0,0,0,0.3);padding:0.625rem;}
    .farm-group .farm-group-body .card-body ul li.temperature       {background:#f9cfc0;}
    .farm-group .farm-group-body .card-body ul li.humidity          {background:#f9e6af;}
    .farm-group .farm-group-body .card-body ul li.co2               {background:#dfe49e;}
    .farm-group .farm-group-body .card-body ul li.ph                {background:#c1d5bd;}
    .farm-group .farm-group-body .card-body ul li.ground-tem        {background:#a4dee4;}
    .farm-group .farm-group-body .card-body ul li.ground-humidity   {background:#a4cbec;}
    .farm-group .farm-group-body .card-body ul li.ground-ec         {background:#bab8e8;}
    .farm-group .farm-group-body .card-body ul li.lux               {background:#dcc5e7;}
    .farm-group .farm-group-body .card-body ul li:after {position:absolute;right:.5rem;bottom:1rem;content:'';width:60px;height:60px;opacity:.3;}

    .farm-group .farm-group-body .card-body ul li.temperature:after {background:url('../../common/images/icon_tem.svg') no-repeat .8rem center /100%;}
    .farm-group .farm-group-body .card-body ul li.humidity:after    {background:url('../../common/images/icon_humidity.svg') no-repeat -.7rem center /110%;}
    .farm-group .farm-group-body .card-body ul li.co2:after         {background:url('../../common/images/icon_co2.svg') no-repeat center .5rem /110%;}
    .farm-group .farm-group-body .card-body ul li.ph:after          {background:url('../../common/images/icon_ph.svg') no-repeat center /100%;}
    .farm-group .farm-group-body .card-body ul li.ground-tem:after  {background:url('../../common/images/icon_ground_tem.svg') no-repeat center /100%;}
    .farm-group .farm-group-body .card-body ul li.ground-humidity:after{background:url('../../common/images/icon_ground_humidity.svg') no-repeat center /100%;}
    .farm-group .farm-group-body .card-body ul li.ground-ec:after   {background:url('../../common/images/icon_ground_ec.svg') no-repeat center /100%;}
    .farm-group .farm-group-body .card-body ul li.lux:after         {background:url('../../common/images/icon_lux.svg') no-repeat center /100%;}
    .farm-group .farm-group-body .card-body ul li label {position:absolute;font-size:1.3rem;text-align:left;color:#03411d;line-height:1.2;font-weight:700;}
    .farm-group .farm-group-body .card-body ul li label:after {display:none;}
    .farm-group .farm-group-body .card-body ul li .min-max {position:absolute;display:block;opacity:1;color:#03411d;}
    .farm-group .farm-group-body .card-body ul li .min-max span i {opacity:.5;}
    .farm-group .farm-group-body .card-body ul li .min-max span {display:block;}
    .farm-group .farm-group-body .card-body ul li strong {position:absolute;width:100%;font-size:2.2rem;font-weight:700;color:#03411d;letter-spacing:-0.08rem;}
    .farm-group .farm-group-body .card-body ul li strong .unit {font-size:.6em;opacity:.8;margin-left:.2rem;}
    .farm-group .farm-group-body .card-footer .date {position:absolute;left:0;right:0;top:0;display:flex;align-items:center;justify-content:center;font-size:1.2rem;color:#555;}
    .farm-group .farm-group-body .card-footer .date a {display:inline-block;color:#888;margin-left:.5rem;}
    .farm-group .farm-group-body .card-footer .crop-name {display:none;}
    /* farmingon */
    .farmingon .farm-group .farm-group-body .card-body ul li label {left:.5rem;top:1rem;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(even):after {right:auto;left:.5rem;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(3):after,
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(4):after {position:absolute;right:.5rem;bottom:auto;top:1rem;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(even) label {left:auto;right:.5rem;text-align:right;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(odd) .min-max {left:.5rem;bottom:4rem;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(even) .min-max {right:.5rem;bottom:4rem;text-align:right;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(even) .min-max span i {float:right;margin-left:.2rem;}
    .farmingon .farm-group .farm-group-body .card-body ul li strong {right:.5rem;bottom:1rem;text-align:right;}
    .farmingon .farm-group .farm-group-body .card-body ul li:nth-child(odd) strong {right:auto;left:.5rem;text-align:left;}
    /* farmingon2 */
    .farmingon2 .farm-group .farm-group-body .card-body ul li {height:7rem;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li:after {position:absolute;right:.5rem;bottom:.5rem;content:'';width:50px;height:50px;opacity:.7;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.temperature:after {background:url('../../common/images/icon_w_tem.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.humidity:after    {background:url('../../common/images/icon_w_humidity.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.co2:after         {background:url('../../common/images/icon_w_co2.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.ph:after          {background:url('../../common/images/icon_w_ph.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.ground-tem:after  {background:url('../../common/images/icon_w_ground_tem.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.ground-humidity:after{background:url('../../common/images/icon_w_ground_humidity.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.ground-ec:after   {background:url('../../common/images/icon_w_ground_ec.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li.lux:after         {background:url('../../common/images/icon_w_lux.svg') no-repeat center /100%;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li label {left:.5rem;top:auto;bottom:.5rem;width:2.5rem;word-break:keep-all;font-size:0.875rem;text-align:left;color:#03411d;line-height:1.2;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li strong {left:.5rem;top:.5rem;width:100%;font-size:1.8rem;font-weight:700;color:#03411d;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li .min-max {left:2.4rem;bottom:.5rem;opacity:.7;}
    .farmingon2 .farm-group .farm-group-body .card-body ul li .min-max span {font-size:1.1rem;}
    /* rmfarm */
    .rmfarm .farm-group .farm-group-body .card-body ul li
    {position:relative;display:flex;justify-content:space-between;align-items:center;width:100%;height:3.5rem;margin:0.2rem 0;border:2px solid #fff;border-radius:.8rem;
        box-shadow:0 0 3px rgba(0,0,0,0.3);padding:.5rem 3.5rem .5rem 2rem;}
    .rmfarm .farm-group .farm-group-body .card-body ul li:after {display:none;}
    .rmfarm .farm-group .card-body ul li a.info-view {position:absolute;right:0;top:0;bottom:0;display:flex;justify-content:center;align-items:center;width:3rem;color:#1C344C;background:rgba(255,255,255,0.3);}
    .rmfarm .farm-group .card-body ul li:nth-child(1) {background:#f2aec0;}
    .rmfarm .farm-group .card-body ul li:nth-child(2) {background:#f5b3a8;}
    .rmfarm .farm-group .card-body ul li:nth-child(3) {background:#f6d4a5;}
    .rmfarm .farm-group .card-body ul li:nth-child(4) {background:#f8e87f;}
    .rmfarm .farm-group .card-body ul li:nth-child(5) {background:#f9f57f;}
    .rmfarm .farm-group .card-body ul li:nth-child(6) {background:#dae897;}
    .rmfarm .farm-group .card-body ul li:nth-child(7) {background:#d3d78e;}
    .rmfarm .farm-group .card-body ul li:nth-child(8) {background:#afc7ab;}
    .rmfarm .farm-group .card-body ul li:nth-child(9) {background:#a5e9e2;}
    .rmfarm .farm-group .farm-group-body .card-body ul li label {position:static;font-size:1rem;}
    .rmfarm .farm-group .farm-group-body .card-body ul li strong {position:static;text-align:right;font-size:1.6rem;}
    .rmfarm .farm-group .farm-group-body .card-body ul li strong .unit {font-size:1rem;}

    /* SUB */
    .app {padding-top:4rem;}
    .app .top {top:-4rem;}
    .app .container {margin-top:-4rem;}
    .app .farm-group {padding:0 1rem;overflow:hidden;}
    .app .farm-group .zone-name {display:block;text-align:center;font-size:1.5rem;font-weight:500;margin:0 -1rem 1rem;background:#fff6b5;padding:1rem;}
    .app .zoneWrap {padding-top:1rem;}
    .app .zoneWrap .readingWrap .col-4 {width:100%;}
    .app .zoneWrap .readingWrap li:nth-child(1) .reading {background:#a4dee4;}
    .app .zoneWrap .readingWrap li:nth-child(2) .reading {background:#a4cbec;}
    .app .zoneWrap .readingWrap li:nth-child(3) .reading {background:#bab8e8;}
    .app .zoneWrap .readingWrap li .reading label {margin-bottom:.5rem;color:#03411d;}
    .app .zoneWrap .readingWrap li .reading .min-max {position:absolute;left:5rem;bottom:1rem;text-align:left;}
    .app .zoneWrap .readingWrap li .reading .min-max span {display:block;font-size:1.2rem;color:#03411d;}
    .app .zoneWrap .readingWrap li .reading span {opacity:.7;}
    .app .zoneWrap .readingWrap li .reading span.icon-ground-tem {background-image:url('../../common/images/icon_w_ground_tem.svg');}
    .app .zoneWrap .readingWrap li .reading span.icon-ground-humidity {background-image:url('../../common/images/icon_w_ground_humidity.svg');}
    .app .zoneWrap .readingWrap li .reading span.icon-ground-ec {background-image:url('../../common/images/icon_w_ground_ec.svg');}
    .app .zoneWrap .readingWrap li .reading .number {min-height:0;}
    .app .zoneWrap .readingWrap li .reading .number strong {color:#03411d;font-weight:700;}
    .app .zoneWrap .table-vertical td:nth-child(1) {}

    .app .tabSearchWrap.condition,.app .tabSearch {display:flex;flex-wrap:wrap;}
    .app .tabSearchWrap.condition select,.app .tabSearch select,
    .app .tabSearchWrap.condition input,.app .tabSearch input,
    .app .tabSearchWrap.condition button, .app .tabSearch button {width:calc(50% - .4rem);margin:.2rem;}
    .app .tabSearchWrap.count-excel,.tabSearchWrap.count-excel {display:none;}
    .app .tabs {display:none;}
    .app .tab-contents {display:block;}
    .app .table-vertical {border:none;}
    .app .table-vertical thead {display:none;}
    .app .table-vertical tr {display:flex;flex-wrap:wrap;padding:.5rem 0;}
    .app .table-vertical td {display:flex;justify-content:space-between;width:calc(50% - 1rem);margin:0 .5rem;border-bottom:1px dashed #ccc;border-right:none;text-align:right;}
    .app .table-vertical td.hover span {display:none;}
    .app .table-vertical.farmingon td:nth-child(1) {display:none;}
    .app .table-vertical.farmingon td:nth-child(9) {display:none;}
    .app .table-vertical.farmingon td:nth-child(10) {display:none;}
    .app .table-vertical.farmingon td:nth-child(8) {display:inline-block;order:-1;width:100%;margin:0;text-align:left;border-bottom:none;background:#f4f4f4;border-radius:1rem;font-size:.8rem;padding:.5rem 1rem;}
    .app .table-vertical.farmingon td:before {color:#888;}
    .app .table-vertical.farmingon td:nth-child(2):before {content:'온도';}
    .app .table-vertical.farmingon td:nth-child(3):before {content:'습도';}
    .app .table-vertical.farmingon td:nth-child(4):before {content:'CO2';}
    .app .table-vertical.farmingon td:nth-child(5):before {content:'배지';}
    .app .table-vertical.farmingon td:nth-child(6):before {content:'이슬점';}
    .app .table-vertical.farmingon td:nth-child(7):before {content:'수분부족량';}

    .app .table-vertical.farmingon2 td:nth-child(1) {display:none;}
    .app .table-vertical.farmingon2 td:nth-child(12) {display:inline-block;order:-1;width:100%;margin:0;text-align:left;border-bottom:none;background:#f4f4f4;border-radius:1rem;font-size:.8rem;padding:.5rem 1rem;}
    .app .table-vertical.farmingon2 td:before {color:#888;}
    .app .table-vertical.farmingon2 td:nth-child(2):before {content:'온도';}
    .app .table-vertical.farmingon2 td:nth-child(3):before {content:'습도';}
    .app .table-vertical.farmingon2 td:nth-child(4):before {content:'CO2';}
    .app .table-vertical.farmingon2 td:nth-child(5):before {content:'광량';}
    .app .table-vertical.farmingon2 td:nth-child(6):before {content:'pH';}
    .app .table-vertical.farmingon2 td:nth-child(7):before {content:'배지온도';}
    .app .table-vertical.farmingon2 td:nth-child(8):before {content:'배지습도';}
    .app .table-vertical.farmingon2 td:nth-child(9):before {content:'배지EC';}
    .app .table-vertical.farmingon2 td:nth-child(10):before {content:'이슬점';}
    .app .table-vertical.farmingon2 td:nth-child(11):before {content:'수분부족량';}

    .app .table-vertical.rmfarm td:nth-child(1) {display:none;}
    .app .table-vertical.rmfarm td:nth-child(13) {display:inline-block;order:-1;width:100%;margin:0;text-align:left;border-bottom:none;background:#f4f4f4;border-radius:1rem;font-size:.8rem;padding:.5rem 1rem;}
    .app .table-vertical.rmfarm td:before {color:#888;}
    .app .table-vertical.rmfarm td:nth-child(2):before {content:'무게';}
    .app .table-vertical.rmfarm td:nth-child(3):before {content:'배액';}
    .app .table-vertical.rmfarm td:nth-child(4):before {content:'무게';}
    .app .table-vertical.rmfarm td:nth-child(5):before {content:'온도';}
    .app .table-vertical.rmfarm td:nth-child(6):before {content:'습도';}
    .app .table-vertical.rmfarm td:nth-child(7):before {content:'광량';}
    .app .table-vertical.rmfarm td:nth-child(8):before {content:'배지온도';}
    .app .table-vertical.rmfarm td:nth-child(9):before {content:'배지습도';}
    .app .table-vertical.rmfarm td:nth-child(10):before {content:'배지EC';}
    .app .table-vertical.rmfarm td:nth-child(11):before {content:'이슬점';}
    .app .table-vertical.rmfarm td:nth-child(12):before {content:'수분부족량';}
    /* 알림현황 */
    .alert .search {display:none;}
    .alert .card {border:none;padding:.5rem;}

    .alert .table-vertical {border-top:none;}
    .alert .table-vertical thead {display:none;}
    .alert .table-vertical tr {display:flex;flex-wrap:wrap;padding:.5rem 0 0;border-bottom:1px dashed #ccc;}
    .alert .table-vertical td {display:block;width:100%;text-align:left;border:none;}
    .alert .table-vertical td.notification-content strong {display:block;width:100%;}
    .alert .table-vertical td:nth-child(1),
    .alert .table-vertical td:nth-child(2),
    .alert .table-vertical td:nth-child(4),
    .alert .table-vertical td:nth-child(5),
    .alert .table-vertical td:nth-child(6) {display:none;}
    .alert .table-vertical td:nth-child(7) {display:inline-block;order:-1;width:100%;margin:0;text-align:left;border-bottom:none;background:#f4f4f4;border-radius:1rem;font-size:.8rem;padding:.5rem 1rem;}

    .sub .orderlog,.sub .errorlog {display:none !important;}

    .side-page h2.wide {display:none;}
    .app-header {position:fixed;top:0;width:100%;display:flex;align-items:center;justify-content:center;height:3.5rem;text-align:center;background:#2F4050;z-index:98;}
    .app-header a       {position:absolute;top:1.1rem;display:inline-block;width:1.5rem;height:1.5rem;font-size:1.2rem;color:#fff;}
    .app-header a.back  {left:1rem;right:auto;}
    .app-header a.right {left:auto;right:1rem;}
    .app-header a.right.text {width:auto;height:auto;}
    .app-header label {color:#fff;font-size:1.5rem;}
    .app-header a.toggle {font-size:2rem;top:0.9rem;}
    .app-header a.on-off {position:absolute;right:1rem;top:1rem;width:auto;display:flex;align-items:center;color:rgba(255,255,255,0.5);}
    .app-header a.on-off.on {position:absolute;right:1rem;top:1rem;color:#f8ac59;}
    .app-header a.on-off span {font-size:1rem;margin-right:.5rem;}

    .app-body {padding-top:3.5rem;}
    .app-body .tabs-wrap {padding-top:.5rem;}
    .app-body .tabs-wrap .bx-wrapper {margin-bottom:1rem;}

    .moreView .app-body ul li {border-bottom:1px solid #ccc;}
    .moreView .app-body ul li a {display:flex;justify-content:space-between;padding:1rem;color:#3f4f5f;}

    .update-time li {padding:1rem;border-bottom:1px dashed #ccc;}
    .update-time li:last-child {border-bottom:none;}

    .version-wrap {text-align:center;}
    .version-wrap span {display:inline-block;width:4rem;height:4rem;background:#ddd;border:1px solid #ccc;border-radius:1rem;margin-bottom:1rem;}
    .version-wrap ul li {padding:1rem;}
    .version-wrap ul li label {color:#888;}
    .version-wrap ul li strong {color:#555;font-weight:500;}

    .order .search {display:none;}
    .order .d-flex {flex-wrap:wrap;}
    .order .d-flex .col-11 {width:100%;}
    .order .d-flex .col-1 {width:100%;}
    .order .d-flex .col-1 .btnWrap button {width:100%;}
    .order .form-group {width:100%;flex-wrap:wrap;margin-bottom:1rem;}
    .order .form-group label {width:100%;text-align:left;padding:0;margin-bottom:1rem;}
    .order .form-group label+div {width:100%;padding:0;}
    .order .form-group button {width:100%;padding:0;}

    .data .table-vertical {border-top:none;}
    .data .table-vertical thead {display:none;}
    .data .table-vertical tr {display:flex;flex-wrap:wrap;justify-content:space-between;border-bottom:1px dashed #ccc;padding:.5rem 0;}
    .data .table-vertical td {display:inline-block;border:none;text-align:left;}
    .data .table-vertical td:nth-child(1) {width:50%;word-break:break-all;}
    .data .table-vertical td:nth-child(4),
    .data .table-vertical td:nth-child(5) {width:calc(50% - 1rem);padding:.5rem;order:-1;font-size:.9rem;color:#888;background:#f4f4f4;border-radius:1rem;}
    .data .table-vertical td:nth-child(4) {position:relative;}
    .data .table-vertical td:nth-child(4):after {position:absolute;right:-2rem;content:'~';padding:0 .5rem;}

    .password .form-vertical {padding:0 1rem;margin-top:5rem;width:100%;border:none;}
    .password .form-vertical .form-group {flex-wrap:wrap;}
    .password .form-vertical .form-group .control-label {width:100%;text-align:left;margin-bottom:.5rem;padding:0;}
    .password .form-vertical .form-group .control-label+div {width:100%;padding:0;}
    .password .form-vertical .btnWrap button {width:100%;}

    .notice table.table-vertical thead {display:none;}
    .order table.table-vertical td {display:block;width:100%;border:none;text-align:left;}


    .notice .card {border:none;padding:0;margin-top:3.5rem;}
    .notice table.table-vertical {border-top:none;}
    .notice table.table-vertical thead {display:none;}
    .notice table.table-vertical tr {display:flex;flex-wrap:wrap;border-bottom:1px solid #ccc;}
    .notice table.table-vertical td:first-child {display:none;}
    .notice table.table-vertical tr td {width:100%;border:none;text-align:left;}
    .notice table.table-vertical td:nth-child(2) {display:flex;align-items:flex-start;justify-content:space-between;padding-top:0;font-size:1.1rem;}
    .notice table.table-vertical td:nth-child(3) {order:-1;padding-bottom:0;font-size:.9rem;color:#888;}
    .notice img {width:100%;}
    .notice .btnWrap {padding:0 1rem 1rem;}
    .notice .btnWrap .btn {width:100%;}
    .paginate {display:none;}
    /* 임계치 설정 */
    .threshold .measure-wrap {width:100%;overflow-x:auto;display:flex;}
    .threshold .measure {flex: 0 0 auto;width:100%;}
    .threshold .measure li {align-items:center;padding:1rem;border-bottom:1px dashed #ccc;}
    .threshold .measure li:last-child {align-items:center;padding:1rem;border-bottom:1px dashed #ccc;}
    .threshold .measure h3 {font-size:1.5rem;font-weight:500;color:#888;}
    .threshold .measure .setting-wrap {width:80%;margin:0 auto;display:flex;flex-wrap:wrap;align-items:center;}
    .threshold .measure .setting-wrap>div {display:flex;align-items:center;width:100%;margin:.3rem 0;}
    .threshold .measure .setting-wrap>div label {display:inline-block;width:20%;color:#888;text-align:left;}
    .threshold .measure .setting-wrap>div .control-wrap {width:80%;display:flex;align-items:center;}
    .threshold .measure .setting-wrap>div .control-wrap a {display:inline-flex;align-items:center;justify-content:center;width:2.5rem;height:2.2rem;border:1px solid #ccc;border-radius:.5rem;}
    .threshold .measure .setting-wrap>div.min .control-wrap a i {color:#1c84c6;}
    .threshold .measure .setting-wrap>div.max .control-wrap a i {color:#ED5565;}
    .threshold .measure .setting-wrap>div .control-wrap input.form-control {display:inline-block;width:65%;border:2px solid #209653;margin:0 .2rem;text-align:center;font-size:1.7rem;font-family:'NanumSquareRound',sans-serif;font-weight:700;}

    /* mypage */
    .mypage section {margin:0;}
    .mypage .device-info .card {padding:0;margin:0;}
    .mypage .user-info-summary {margin-bottom:0;}
    .mypage .user-info-summary .form-group {width:100%;flex-wrap:wrap;margin-bottom:1rem;}
    .mypage .user-info-summary .form-group label {width:100%;text-align:left;margin-bottom:.5rem;padding:0;}
    .mypage .user-info-summary .form-group label+div {width:100%;padding:0;}
    .mypage .user-info-summary+.btnWrap button {width:100%;}
    .mypage .table-vertical {display:none;}
    .mypage .password-change .form-group {width:100%;flex-wrap:wrap;margin-bottom:1rem;}
    .mypage .password-change .form-group label {width:100%;text-align:left;margin-bottom:.5rem;padding:0;}
    .mypage .password-change .form-group label+div {width:100%;padding:0;}
    .mypage .password-change .btnWrap button {width:100%;}


    .modal .modal-dialog {left:1rem;right:1rem;top:50%;transform:translate(0,-50%)}
    .modal .measure {}
    .modal .measure li {display:flex;border-bottom:1px dashed #888;padding:.5rem 0;margin:0 -.5rem;}
    .modal .measure li:last-child {border-bottom:0;}
    .modal .measure li .measure-item {display:flex;align-items:center;justify-content:space-between;width:50%;padding:.5rem;}
    .modal .measure li .measure-item.block {width:100%;}
    .modal .measure li .measure-item label {width:50%;color:#888;word-break:keep-all;}
    .modal .measure li .measure-item.block label {width:auto;}
    .modal .measure li .measure-item strong {font-size:1.5rem;font-family:'NanumSquareRound', sans-serif;font-weight:700;letter-spacing:-.05rem;}
    .modal .dew .measure li .measure-item strong .unit {display:inline-block;width:3rem;text-align:left;}

    .modal .measure.block li .measure-item {width:100%;}

    .modal .measure-time {display:block;background:#ddd;border-radius:10rem;padding:.5rem 2rem;margin-bottom:1rem;text-align:center;}
    .modal .statistics li {border-bottom:1px dashed #888;padding:.5rem 0;}
    .modal .statistics li:last-child {border-bottom:0;}
    .modal .statistics li .statistics-item {display:flex;align-items:center;justify-content:space-between;}
    .modal .statistics li label {color:#888;word-break:keep-all;line-height:1.2;}
    .modal .statistics li strong {font-size:1.5rem;font-family:'NanumSquareRound', sans-serif;font-weight:700;letter-spacing:-.05rem;}

}


